.index-thumbnail{
  float:left;
  max-width: 100%;
  max-height: 150px;
  padding: 0px 20px 20px 0px;
}

.left-panel {
  background-color: $body-bg;
  padding-left: 40px;
}

.right-panel {
  background-color: $body-bg;
  margin: 10px;
  padding: 20px;
}

.login-box {
  max-width: 500px;
  padding: 40px;
  margin:auto;
}

html {
  background-color: $body-bg;

}

.page-content-middle {
  background-color: white;
  margin: 10px;
  padding: 20px;

}

.media-content {
  overflow: hidden;
}

.menu-list a.deactivated {
  cursor: not-allowed;
  color: lighten(#636b6f, 30);
}

.author-widget.widget-area {
  transition: background-color 2s;
}

.author-widget.widget-area.freshComment {
  background-color: #8eb4cb;
  transition: background-color 2s;
  transition-timing-function: linear;
  border-radius: 10px;
  padding: 5px;
}

.someone-typing {

  background-color: #00c4a7;
  opacity: 50;
  padding: 30px;
  border-radius:20px;
  -webkit-animation:
          fadein 1s;
}

.ais-highlight {
  em {
    background-color: yellow;
  }
}

[v-cloak] {
  display: none;
}

.aa-input-container {
  display: inline-block;
  position: relative; }
.aa-input-search {
  width: 300px;
  border: 1px solid rgba(228, 228, 228, 0.6);
  padding: 12px 28px 12px 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
.aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
  display: none; }
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #e4e4e4; }
.aa-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box; }
.aa-suggestion {
  padding: 12px;
  cursor: pointer;
  em {
    background-color: yellow;
  }
}
.aa-suggestion + .aa-suggestion {
  border-top: 1px solid rgba(228, 228, 228, 0.6);
}
.aa-suggestion:hover, .aa-suggestion.aa-cursor {
  background-color: rgba(241, 241, 241, 0.35);
}

.image-checkbox {
  margin-left: -15px;
  margin-top: 3px;
  margin-right: 20px;
  position: relative;
}

.blog-single-page-image {
  display:block;
  margin: auto;
  width: 100%;
}

.filter-checkbox {
  display: block;
  padding: 10px;
}

trix-toolbar, trix-editor {
  max-width: 1018px;
}
