.index-thumbnail{
  float:left;
  max-width: 100%;
  max-height: 150px;
  padding: 0px 20px 20px 0px;
}

.left-panel {
  background-color: $body-bg;
  padding-left: 40px;
}

.right-panel {
  background-color: $body-bg;
  padding-right: 40px;
}

.login-box {
  max-width: 500px;
  padding: 40px;
  margin:auto;
}

html {
  background-color: $body-bg;

}

.page-content-middle {
  background-color: white;
  margin: 40px;

}