<div class="ActivityGraph_Wrapper">
    <div class="box box-primary">
        <div class="box-body">
            <div class="columns">
                <div class="column is-half">
                    <h1 class="title">New posts</h1>
                    <line-chart></line-chart>
                </div>
                <div class="column is-half">
                    <h1 class="title">Posts by category</h1>
                    <pie-chart></pie-chart>
                </div>
            </div>
        </div>
    </div>
</div>