<div class="ActivityGraph_Wrapper">
    <div class="box box-primary">
        <div class="box-body">
            <div class="columns">
                <div class="column is-half">
                    <h1 class="title">New posts</h1>
                    <line-chart class="dashboard-chart"></line-chart>
                </div>
                <div class="column is-half">
                    <h1 class="title">Posts by category</h1>
                    <pie-chart class="dashboard-chart"></pie-chart>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half">
                    <h1 class="title">Most active users</h1>
                    <bar-chart class="dashboard-chart"></bar-chart>
                </div>
                <div class="column is-half">
                    <h1 class="title">Most commented posts</h1>
                    <bar-chart2 class="dashboard-chart"></bar-chart2>
                </div>
            </div>
        </div>
    </div>
</div>